<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Quản Lý Sinh Viên</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Quản lý Sinh viên
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="student/add">
                <span class="bi bi-person-plus-fill-nav-menu" aria-hidden="true"></span> Thêm Sinh viên
            </NavLink>
        </div>
    </nav>
</div>